<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="background flex">
        <h1><a href="{% url 'home' %}">To do List</a></h1>
        <div class="contentWrapper flex">
            {% for Todo in Todos %}
            <span>{{ Todo.title }}</span>
            <p>{{ Todo.content }}</p>
            <div class="menuWrapper flex">
                <a href="{% url 'update' Todo.id %}">edit</a>
                <a href="{% url 'delete' Todo.id %}">delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>