<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="background flex">
        <div class="contentWrapper flex">
            <h1><a href="{% url 'home' %}">To do List</a></h1>
            <div class="mainWrapper flex">
                <span></span>
                <ul>
                    {% for Todo in Todos %}
                    <li>
                        <a href="{% url 'detail' Todo.id %}">{{ Todo.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'create' %}" class="createBtn">Todo List 작성하기</a>
            </div>
        </div>
    </div>
</body>
</html>