<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'edit.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="header">
            <div class="sidemenuWrapper">
                {% if user.is_authenticated %}
                <a href="{% url 'project' %}">Code</a>
                <a href="{% url 'create' %}">Create</a>
                <a href="">My Page</a>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'project' %}">Code</a>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            </div>
            <div class="logoWrapper">
                <h1><a href="{% url 'home' %}">Code Diary</a></h1>
            </div>
        </div>
        <form action="" method="post" class="main">
            {% csrf_token %}
            <input type="text" name="title" value="{{ project.title }}" class="input">
            <textarea name="code" class="code">{{ project.code }}</textarea>
            <textarea name="content" class="content">{{ project.content }}</textarea>
            <div class="menuWrapper">
                <a href="{% url 'detailProject' project.id %}">Cancle</a>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>
</html>