<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'create.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="background">
        <form action="/create" method="post" class="contentWrapper">
            {% csrf_token %}
            <input type="text" placeholder="제목" name="title">
            <select name="category" id="select">
                {% for category in categorys %}
                <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
            <textarea name="content" placeholder="글쓰기를 시작해보세요!"></textarea>
            <button type="submit">발행하기</button>
        </form>
    </div>
</body>
</html>