{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'recomment.css' %}">
{% endblock %}

{% block content %}
<div class="background">
    <div class="header">
        <ul>
            <li><a href="#">블로그 홈</a></li>
            <li><a href="#">이웃 블로그</a></li>
            <li><a href="#">내 메뉴</a></li>
        </ul>
        <h1><a href="{% url 'home' %}">Sohyun's Blog</a></h1>
    </div>
    <div class="main">
        <div class="sidebar">
            <div class="profile flex">
                <span id="user_nm">소현</span>
                <span>sothus0807</span>
            </div>
            <div class="category">
                <span>카테고리</span>
                <ul>
                    <li><a href="{% url 'home' %}">전체보기({{ all_count }})</a></li>    
                    {% for category in categorys %}
                    <li><a href="{% url 'detail' category %}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a class="button flex" href="{% url 'create' %}">글쓰기</a>
        </div>
        <div class="content">
            <ul class="article">
                <li>
                    <h3><a href="{% url 'comment' article.id %}">{{ article.title }}</a></h3>
                    <span>{{ article.date }}</span>
                    <p>{{ article.category }}</p>
                    <p>{{ article.content }}</p>
                </li>
            </ul>
            <form action="" method="post" class="commentWrapper">
                {% csrf_token %}
                <input type="text" name="content" placeholder="댓글을 입력해주세요!">
                <button type="sumbit">등록하기</button>
            </form>
            <ul class="commentList">
                <li class="flex">
                    <span>{{ comment.content }}</span>
                    <a href="{% url 'comment_delete' article.id comment.id %}"><i class="fa-solid fa-xmark"></i></a>
                </li>
            </ul>
            <form action="" method="post" class="recommentWrapper flex">
                {% csrf_token %}
                <input type="text" name="content" placeholder="답글을 입력해주세요">
                <button type="submit"><i class="fa-solid fa-reply"></i></button>
            </form>
            <ul class="recommentList">
                {% for recomment in comment.recomments.all %}
                <li class="flex">
                    <span>{{ recomment.content }}</span>
                    <a href="{% url 'recomment_delete' article.id comment.id recomment.id %}"><i class="fa-solid fa-xmark"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}