<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}" />
    <script src="https://kit.fontawesome.com/2ce808a63c.js" crossorigin="anonymous"></script>
    <title>Portfolio</title>
</head>
<body>
    <div class="background">
        <div class="header flex">
            <h1><a href="{% url 'home' %}">Portfolio.</a></h1>{% csrf_token %}
            <ul class="flex">
                <li><a href="{% url 'info' %}">info</a></li>{% csrf_token %}
                <li><a href="{% url 'project' %}">project</a></li>{% csrf_token %}
                <li><a href="{% url 'project' %}">github</a></li>{% csrf_token %}
                <li><a href="{% url 'project' %}">contact</a></li>{% csrf_token %}
            </ul>
        </div>
        <div class="main">
            <div class="content-wrapper">
                <div class="head">
                    <i class="fa-sharp fa-solid fa-chevron-left fa-lg backIcon"></i>
                    <h1>skuukzky</h1>
                </div>
                <div class="main">
                    <div class="profile-wrapper">
                        <img src="../static/profile-image.jpeg" alt="profile image">
                        <div class="profile">
                            <div class="top">
                                <h2>skuukzky</h2>
                                <img src="../static/authorized-icon.png" alt="authorized-icon">
                                <button>
                                    <i class="fa-sharp fa-solid fa-ellipsis fa-lg"></i>
                                </button>
                            </div>
                            <div class="bottom">
                                <button class="followButton">
                                    팔로잉
                                    <i class="fa-solid fa-angle-down"></i>
                                </button>
                                <button class="messageButton">메세지 보내기</button>
                                <button class="recoButton">
                                    <i class="fa-solid fa-user-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="information-wrapper">
                        <span class="name">숮이  💄💅👡👠🎀👙🌂👗🌂🎀💋💌</span>
                        <a href="https://youtu.be/2ZLSB2NOPBE?fbclid=PAAabxUNyxLJHkruX4eES8c5O4d8hGP27XDLABl3jYRIHs-PlAvRJTCKH8GnE">youtu.be/2ZLSB2NOPBE</a>
                        <p><span>07.1m_so</span>님 외 29명이 팔로우합니다</p>
                    </div>
                    <ul class="menu-wrapper">
                        <li>
                            <div>
                                게시물
                                <span>1492</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                팔로워
                                <span>1822만</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                팔로우
                                <span>290</span>
                            </div>
                        </li>
                    </ul>
                    <div class="category-wrapper">
                        <a href="#">
                            <i class="fa-solid fa-table-cells categoryIcon"></i>
                        </a>
                        <a href="#">
                            <i class="fa-regular fa-clone categoryIcon"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-film categoryIcon"></i>
                        </a>
                        <a href="#">
                            <i class="fa-solid fa-user-tag categoryIcon"></i>
                        </a>
                    </div>
                    <div class="feed-wrapper">
                        <div class="first-row">
                            <img src="../static/1.jpg" alt="feed image">
                            <img src="../static/2.jpeg" alt="feed image">
                            <img src="../static//3.jpeg" alt="feed image">
                        </div>
                        <div class="second-row">
                            <img src="../static/4.jpeg" alt="feed image">
                            <img src="../static/5.webp" alt="feed image">
                            <img src="../static/6.webp" alt="feed image">
                        </div>
                        <div class="third-row">
                            <img src="../static/7.jpeg" alt="feed image">
                            <img src="../static/8.jpeg" alt="feed image">
                            <img src="../static/9.jpeg" alt="feed image">
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <a href="#">
                        <div>
                            <i class="fa-solid fa-house fa-lg bottomIcon"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div>
                            <i class="fa-solid fa-magnifying-glass fa-lg bottomIcon"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div>
                            <i class="fa-solid fa-film fa-lg bottomIcon"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div>
                            <i class="fa-regular fa-paper-plane fa-lg bottomIcon"></i>
                        </div>
                    </a>
                    <a href="#">
                        <div>
                            <img src="../static/profile-image.jpeg" alt="profile image">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <i class="fa-sharp fa-solid fa-circle" style="color: #000000;"></i>
            <i class="fa-regular fa-circle" style="color: #000000;"></i>
            <i class="fa-regular fa-circle" style="color: #000000;"></i>
        </div>
    </div>
</body>
</html>